# ML Model Example

This example provides a simply query tutorial for InfluxDB Cloud Dedicated.

In [1]:
import influxdb_client_3 as InfluxDBClient3
from IPython.display import display, HTML
import pandas as pd
import numpy as np
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq

Next we provide our connection credentials to the InfluxDB 3.0 instance. 
`token` - scoped to the bucket you wish to query from.
`host` - the host of your cloud dedicated instance.
`client` - host wrapped in the flightclient class.

In [3]:
token = ''
host = 'b0c7cce5-8dbc-428e-98c6-7f996fb96467.a.influxdb.io'    
org = 'Jay-IOx'
db = 'factorydata'

client = InfluxDBClient3.InfluxDBClient3(token=token,
                         host=host,
                         org=org,
                         database=db)

In [2]:
query = "SELECT * FROM machine_data WHERE time >= now() - 30m"
table = client.query(query=query, language="influxql")
print(table)

NameError: name 'client' is not defined

The `query_tools` function provides a wrapper to execution of a query agaisnt InfluxDB usinf flight. This function requires 3 paramters.
`database`- this specifies the database you wish to direct your query at.
`query` - This accepts a string literal of the query you wish to perform (SQL or InfluxQL).
`query_type` - Whether this is a SQL or InfluxQL based query.

Return all columns from the table flight for the past 3 days.

In [15]:
df = table.to_pandas()
display(df)

,iox::measurement,time,host,load,machineID,power,provider,temperature,topic,vibration
0,machine_data,2023-06-02 12:59:57.454138410,491cc20bbe13,50.0,machine1,202.0,"Morales, Robinson and Newman",35.0,machine/machine1,80.0
1,machine_data,2023-06-02 12:59:57.457935726,491cc20bbe13,50.0,machine3,218.0,Smith Group,35.0,machine/machine3,83.0
2,machine_data,2023-06-02 12:59:57.457953815,491cc20bbe13,50.0,machine2,217.0,Thomas and Sons,39.0,machine/machine2,84.0
3,machine_data,2023-06-02 12:59:58.454660523,491cc20bbe13,50.0,machine1,216.0,"Morales, Robinson and Newman",35.0,machine/machine1,89.0
4,machine_data,2023-06-02 12:59:58.455401581,491cc20bbe13,50.0,machine3,212.0,Smith Group,36.0,machine/machine3,90.0
...,...,...,...,...,...,...,...,...,...,...
336983,machine_data,2023-06-05 10:24:15.587576380,491cc20bbe13,50.0,machine3,204.0,Sandoval Ltd,40.0,machine/machine3,88.0
336984,machine_data,2023-06-05 10:24:15.587984645,491cc20bbe13,50.0,machine1,203.0,Phillips PLC,36.0,machine/machine1,80.0
336985,machine_data,2023-06-05 10:24:16.589058833,491cc20bbe13,50.0,machine2,200.0,"Lewis, Scott and Reynolds",37.0,machine/machine2,81.0
336986,machine_data,2023-06-05 10:24:16.589635200,491cc20bbe13,50.0,machine3,205.0,Sandoval Ltd,36.0,machine/machine3,87.0
336987,machine_data,2023-06-05 10:24:16.589998547,491cc20bbe13,50.0,machine1,216.0,Phillips PLC,40.0,machine/machine1,82.0

In [16]:
# Save the table to a Parquet file
pq.write_table(table, 'out.parquet' , version='2.6')

In [17]:
df.to_csv(index=False, 
path_or_buf='./out.csv')

In [ ]:
result = df.to_json(orient="records", path_or_buf='./out.json', date_unit ='ns')

In [ ]:
from pyarrow import orc
orc.write_table(table, 'out.orc')

In [ ]:
from pyarrow import feather
feather.write_feather(table, 'out.feather')